body {
    background-color: #FFFAF0;
    font-family: 'Georgia', serif;
    color: #5A4A5A;
    margin: 60px;
}

h1 {
    text-align: center;
    font-family: 'Georgia', serif;
}

h2 {
    color: #A78A9A;
    font-size: 200%;
    border-bottom: 3px solid #E8D8E8;
    padding-bottom: 15px;
    margin-top: 40px;
}

h3 {
    color: #C4A5B5;
    font-size: 150%;
}

p {
    font-size: 115%;
    line-height: 1.9;
}

img {
    border: 8px solid #F5E8F0;
    border-radius: 5px;
    padding: 5px;
}

table {
    border: 3px solid #D4A5A5;
    border-collapse: collapse;
    width: 100%;
    margin: 30px 0px;
}

th, td {
    border: 1px solid #E8D8E8;
    padding: 20px;
}

th {
    background-color: #F9F3F9;
    color: #8B7B8B;
    text-align: left;
}

td {
    background-color: #FFFBFF;
}

blockquote {
    border-left: 6px solid #D4A5A5;
    padding-left: 30px;
    margin: 40px;
    font-style: italic;
    font-size: 150%;
    color: #8B7B8B;
}

hr {
    border: 2px solid #E8D8E8;
    margin: 50px 0px;
}
