body {
    background-color: #FFFAF0;
    font-family: 'Georgia', serif;
    color: #5A4A5A;
    margin: 60px;
}

h1 {
    text-align: center;
    font-family: 'Georgia', serif;
}

hr {
    border: 2px solid #E8D8E8;
    margin: 50px 0px;
}